@page
@model WrestlingStore_S2.Pages.ShowProductModel
@{
    ViewData["Title"] = "ShowProduct";
    ProductManager pm = new ProductManager(new ProductData());
    Product[] products = pm.GetAllProducts();
    Product p = Model.Product;
}
@using Modules;
@using LogicLayer;
@using DAL;




<!DOCTYPE html>
<form id="form">
    <img class="logo" src="/images/logo.jpg" alt="">
    <div class="search">
        <input type="search" id="searchbar" name="search"
               placeholder="Search for a product...">
        <button>Search</button>
    </div>
</form>
<nav class="categories">
    <ul>
        <li> <a asp-area="" asp-page="/WrestlingShoes"> Wrestling Shoes</a> </li>
        <li> <a asp-area="" asp-page="/WrestlingClothes"> Wrestling Clothes</a> </li>
        <li> <a asp-area="" asp-page="/WrestlingAccessories"> Wrestling Accessories</a> </li>
    </ul>
</nav>
<div class="singleProduct">
    <div class="singleProductInfo">
        <h2>Model: @p.ProdName </h2>



        <h2>Price: @p.ProdPrice euro </h2>



        @if (User.IsInRole("User"))
        {
            if (p is WrestlingShoes || p is WrestlingClothes)
            {

                <form method="post">
                    <div class="addingToCart">
                        <label> Quantity:</label> <span asp-validation-for="Order.Quantity"></span>
                        <input asp-for="Order.Quantity" id="Quantity">

                        <label> Size:</label> <span asp-validation-for="Order.Size"></span>
                        <input asp-for="Order.Size" id="Size">

                        <button class="btn btn-default" asp-route-name="@p.ProdName" asp-page-handler="AddToCart">Add to Cart</button>
                    </div>
                </form>
            }
            else if (p is WrestlingAccessories)
            {
                <form method="post">
                    <label> Size:</label> <span asp-validation-for="Order.Size"></span>
                    <input asp-for="Order.Size" id="Size">
                    <label> Quantity:</label> <span asp-validation-for="Order.Quantity"></span>
                    <input asp-for="Order.Quantity" id="Quantity">
                    <button class="btn btn-default" asp-route-name="@p.ProdName" asp-page-handler="AddToCart2">Add to Cart</button>
                </form>
            }
        }
        else if (User.IsInRole("Administrator"))
        {
            <form method="post">
                <button class="btn btn-default" asp-route-id="@p.Prod_id">Delete Product</button>
            </form>
        }
    </div>
    <img class="singleProductImage" src="@p.ProdImg" />

</div>



@section scripts{
<partial name="_ValidationScriptsPartial" />
}